* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f9;
}

.app-container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #2a9d8f;
    color: white;
}

header h1 {
    font-size: 2em;
}

header button {
    background-color: #f4a261;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

header #toggleDarkMode {
    background-color: #e76f51;
}

#searchSection {
    width: 100%;
    margin-top: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#taskSection {
    width: 100%;
    margin-top: 20px;
}

#taskList {
    margin-top: 20px;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.task-item h3 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #264653;
    color: white;
}

#taskForm {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#taskInputForm label {
    display: block;
    margin-top: 10px;
}

#taskInputForm input,
#taskInputForm select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#taskInputForm button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #2a9d8f;
    border: none;
    color: white;
    cursor: pointer;
}

#cancelTaskBtn {
    background-color: #e76f51;
}

#backupSection {
    margin-top: 20px;
}

#exportTasksBtn,
#importTasksInput {
    margin-top: 10px;
    padding: 10px;
    background-color: #2a9d8f;
    border: none;
    color: white;
    cursor: pointer;
}

#importTasksInput {
    padding: 5px;
}
